/*!**********************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/styles/style.scss ***!
  \**********************************************************************************************************************************************************/
@font-face {
  font-family: "TT Lakes";
  src: url(../src/assets/fonts/TTLakes-Regular.fa93e70b0194a593ac03.woff2) format(woff2), url(../src/assets/fonts/TTLakes-Regular.ecf08c49b0b1d4d71f5b.woff) format(woff);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT Lakes";
  src: url(../src/assets/fonts/TTLakes-Medium.e781c4423f37bcb7f986.woff2) format(woff2), url(../src/assets/fonts/TTLakes-Medium.fe25154d26f37feaf90c.woff) format(woff);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT Lakes";
  src: url(../src/assets/fonts/TTLakes-Bold.cdc7dcddf6ee8d85fcc2.woff2) format(woff2), url(../src/assets/fonts/TTLakes-Bold.5fe27ad211f7b79014fc.woff) format(woff);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
  font-family: inherit;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "TT Lakes", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  min-height: 100vh;
  scrollbar-gutter: stable;
  overflow-x: hidden;
}

html {
  scrollbar-gutter: stable;
}

.action-button {
  width: 40px;
  height: 40px;
  background-color: #ff3e79;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: ease-in-out;
}
@media (min-width: 1119.98px) {
  .action-button:hover {
    background-color: #fddde6;
    transform: scale(1.1);
  }
  .action-button:hover .icon {
    fill: #cf3476;
  }
}

.icon {
  display: inline-flex;
  flex-shrink: 0;
  flex-grow: 1;
  width: 16px;
  height: 16px;
  fill: #ffffff;
  transition-property: fill;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
.icon--logo {
  width: 97px;
  height: 51px;
}
.icon--search {
  width: 17px;
  height: 17px;
}
.icon--call {
  width: 18px;
  height: 18px;
}
.icon--chat {
  width: 20px;
  height: 20px;
}
.icon--profile {
  width: 20px;
  height: 18px;
}
.icon--burger {
  width: 18px;
  height: 16px;
}
.icon--check-status {
  width: 16px;
  height: 20px;
}
.icon--repair {
  width: 20px;
  height: 20px;
}
.icon--arrow {
  fill: #ff3e79;
  width: 7.5px;
  height: 12px;
}
.icon--send-arrow {
  fill: #ffffff;
  width: 7.5px;
  height: 12px;
}
.icon--send-arrow-cost {
  fill: #ffffff;
  width: 7px;
  height: 10px;
}
.icon--arrows {
  width: 24px;
  height: 24px;
}
.icon--arrow-link {
  fill: #ff3e79;
  width: 6px;
  height: 11px;
  flex-grow: 0;
}

.button-show-more {
  display: none;
  align-self: flex-start;
  font-family: inherit;
  flex-shrink: 0;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.2px;
  text-align: left;
  text-wrap: nowrap;
  gap: 9px;
  align-items: center;
  justify-content: flex-start;
}
@media (min-width: 767.98px) {
  .button-show-more {
    display: inline-flex;
  }
  .button-show-more .icon--arrows {
    transition: rotate 0.3s ease-in-out;
  }
}
.button-show-more--active .icon--arrows {
  transition: rotate 0.3s ease-in-out;
  rotate: 180deg;
}

.send-button {
  display: flex;
  flex-shrink: 0;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  padding: 4px 16px 4px 16px;
  font-family: "TT Lakes", sans-serif;
  background-color: #ff3e79;
  border-radius: 16px;
}
.send-button__text {
  padding-right: 12px;
  color: #fff;
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: -0.15px;
  text-align: right;
  text-transform: uppercase;
}

@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 320px 1fr;
  }
}

.main-container {
  padding: 0 16px;
  padding-bottom: 35px;
}
@media (min-width: 767.98px) {
  .main-container {
    padding: 0 24px 0 24px;
    padding-bottom: 35px;
  }
}
@media (min-width: 1119.98px) {
  .main-container {
    padding: 0;
    max-width: 1056px;
    margin: 0 auto;
  }
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  max-height: 90px;
  overflow-y: hidden;
}
.text-wrapper--off {
  height: 100vh;
}

@media (min-width: 768px) {
  .text-wrapper {
    row-gap: 30px;
    max-height: 160px;
  }
}
.header {
  background-color: #ffffff;
  padding: 0 16px;
}
@media (min-width: 1439.98px) {
  .header {
    display: none;
  }
}
@media (min-width: 359.98px) {
  .header {
    padding: 0 24px;
  }
}
.header__inner {
  min-height: 87px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
.header__separator {
  width: 2px;
  height: 32px;
  background-color: #eaeaea;
  border-radius: 1px;
}
.header__logo-separator {
  display: none;
}
.header__logo {
  display: inline-flex;
  margin-right: auto;
}
.header__buttons--tablet {
  display: none;
}
.header__bottom-border {
  border-bottom: 1px solid rgb(217, 255, 245);
}
@media (min-width: 767.98px) {
  .header {
    padding: 0 40px 0 24px;
  }
  .header__logo-separator {
    display: block;
  }
  .header__buttons--tablet {
    display: flex;
    gap: 16px;
    align-items: center;
  }
}
@media (min-width: 1119.98px) {
  .header {
    padding: 0;
    max-width: 1056px;
    margin: 0 auto;
  }
}

.main {
  background-color: #f8f8f8;
}
.main__header {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  margin-bottom: 16px;
  min-height: 40px;
}
.main__title {
  display: inline-block;
  min-height: 40px;
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.6px;
  text-align: left;
}
.main__title::before {
  position: absolute;
  left: -16px;
  content: "";
  border-radius: 0 50px 50px 0;
  background-color: #41f6d7;
  height: 40px;
  width: 4px;
}
.main__header-actions {
  display: none;
}

@media (min-width: 768px) {
  .main__header {
    margin-bottom: 24px;
  }
  .main__title::before {
    left: -24px;
  }
}
@media (min-width: 1439.98px) {
  .main__header {
    padding-top: 41px;
    margin-bottom: 0;
  }
  .main__header-actions {
    display: flex;
    -moz-column-gap: 32px;
         column-gap: 32px;
  }
  .main__header-action {
    display: inline-flex;
    align-items: center;
    -moz-column-gap: 9px;
         column-gap: 9px;
  }
  .main__header-action-text {
    color: #1b1c21;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.2px;
  }
  .main__title::before {
    left: -32px;
    width: 3px;
  }
}
.footer {
  display: flex;
  gap: 16px;
  color: #7e7e82;
  background-color: #f8f8f8;
  font-weight: 500;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-top: 1px solid rgb(217, 255, 245);
  padding-bottom: 21px;
}
.footer__privacy-policy {
  color: #7e7e82;
}
.footer__public-offer {
  display: inline-flex;
}
@media (min-width: 767.98px) {
  .footer {
    padding: 0 24px;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer__copyright {
    text-align: left;
    flex-basis: 33.3%;
  }
  .footer__privacy-policy {
    text-align: center;
    flex-basis: 33.3%;
  }
  .footer__public-offer {
    text-align: right;
    flex-basis: 33.3%;
  }
}
@media (min-width: 1440px) {
  .footer {
    padding: 0 32px;
    grid-column: 2;
  }
}

.services-slider {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  display: block;
  height: 104px;
  width: 100%;
}
@media (min-width: 767.98px) {
  .services-slider {
    height: auto;
  }
}
.services-slider--device-type {
  height: 190px;
}
@media (min-width: 767.98px) {
  .services-slider--device-type {
    height: auto;
  }
}
.services-slider--cost {
  height: 230px;
}
@media (min-width: 767.98px) {
  .services-slider--cost {
    height: auto;
  }
}
.services-slider-wrapper {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 1;
  display: flex;
  transition-property: transform;
  transition-timing-function: initial;
  box-sizing: content-box;
  -moz-column-gap: 0;
       column-gap: 0;
}
.services-slider-wrapper--cost {
  min-height: 200px;
}
@media (min-width: 767.98px) {
  .services-slider-wrapper {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-auto-rows: max-content;
    gap: 16px 24px;
    max-height: 160px;
    overflow-y: hidden;
    transition: all 0.2s ease-in-out;
  }
  .services-slider-wrapper--active {
    transition: all 0.45s ease-in-out;
    max-height: 100vh;
  }
  .services-slider-wrapper--cost {
    display: grid;
    max-height: none;
    grid-template-columns: 1fr 74px 81px 119px;
    grid-template-rows: 32px repeat(5, 65px);
    gap: 0;
    background-color: #ffffff;
  }
}
@media (min-width: 1119.98px) {
  .services-slider-wrapper {
    grid-template-columns: repeat(4, 1fr);
    gap: 16px 32px;
  }
  .services-slider-wrapper--cost {
    grid-template-columns: 3fr 1fr 1fr 119px;
    gap: 0;
  }
}
.services-slider__fade-elem {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}
@media (min-width: 767.98px) {
  .services-slider__fade-elem {
    width: 0;
    height: 0;
  }
}
.services-slider__fade-elem-right {
  top: 0;
  right: 0;
  background: linear-gradient(270deg, rgb(248, 248, 248) 16.836%, rgba(248, 248, 248, 0) 100%);
  position: absolute;
  height: 100%;
  width: 24px;
  z-index: 5;
}
.services-slider__fade-elem-left {
  top: 0;
  left: 0;
  background: linear-gradient(90deg, #f8f8f8 17%, hsla(0, 0%, 97.3%, 0));
  position: absolute;
  height: 100%;
  width: 24px;
  z-index: 5;
}
.services-slider__elem {
  width: 240px;
  height: 100%;
}
.services-slider__elem--cost {
  width: 260px;
}
@media (min-width: 767.98px) {
  .services-slider__elem--cost:not(:last-child) {
    border-bottom: 1px solid rgb(234, 234, 234);
  }
  .services-slider__elem--cost:nth-child(2) {
    grid-column: 1/5;
    grid-row: 2/3;
    align-content: center;
  }
  .services-slider__elem--cost:nth-child(3) {
    grid-column: 1/5;
    grid-row: 3/4;
    align-content: center;
  }
  .services-slider__elem--cost:nth-child(4) {
    grid-column: 1/5;
    grid-row: 4/5;
    align-content: center;
  }
  .services-slider__elem--cost:nth-child(5) {
    grid-column: 1/5;
    grid-row: 5/6;
    align-content: center;
  }
  .services-slider__elem--cost:nth-child(6) {
    grid-column: 1/5;
    grid-row: 6;
    align-content: center;
  }
}
@media (min-width: 767.98px) {
  .services-slider__elem {
    width: initial;
  }
}
.swiper-slide {
  flex-shrink: 0;
  position: relative;
  transition-property: transform;
  display: block;
}

:root {
  --swiper-pagination-color: #b5b6bc;
  --swiper-pagination-left: auto;
  --swiper-pagination-right: 8px;
  --swiper-pagination-bottom: 0;
  --swiper-pagination-top: auto;
  --swiper-pagination-fraction-color: inherit;
  --swiper-pagination-bullet-size: 12px;
  --swiper-pagination-bullet-width: 12px;
  --swiper-pagination-bullet-height: 12px;
  --swiper-pagination-bullet-border-radius: 50%;
  --swiper-pagination-bullet-inactive-color: #dddddd;
  --swiper-pagination-bullet-inactive-opacity: 0.7;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 12px;
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin-right: var(--swiper-pagination-bullet-horizontal-gap);
}

.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width);
  height: var(--swiper-pagination-bullet-height);
  display: inline-block;
  border-radius: var(--swiper-pagination-bullet-border-radius, 50%);
  background: var(--swiper-pagination-bullet-inactive-color, #000);
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.2);
}

.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: var(--swiper-pagination-color);
}

.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: 200ms transform, 200ms left;
}

.swiper-horizontal.swiper-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: 200ms transform, 200ms right;
}

.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}

.swiper-pagination-disabled > .swiper-pagination,
.swiper-pagination.swiper-pagination-disabled {
  display: none !important;
}

/* Common Styles */
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: var(--swiper-pagination-bottom, 8px);
  top: var(--swiper-pagination-top, auto);
  left: 0;
  width: 100%;
}

/* Bullets */
.swiper-pagination-bullets-dynamic {
  overflow: hidden;
  font-size: 0;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transform: scale(0.33);
  position: relative;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
  transform: scale(1);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
  transform: scale(1);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
  transform: scale(0.66);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
  transform: scale(0.33);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
  transform: scale(0.66);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
  transform: scale(0.33);
}

button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}

.swiper-pagination-bullet:only-child {
  display: none !important;
}

.swiper-pagination-lock {
  display: none;
}

.swiper-horizontal {
  touch-action: pan-y;
}

.swiper-android .swiper-slide,
.swiper-ios .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
  /* CSS Mode */
  /* Slide styles end */
  /* a11y */
}
.swiper-android .swiper-slide .swiper-slide-invisible-blank,
.swiper-ios .swiper-slide .swiper-slide-invisible-blank,
.swiper-wrapper .swiper-slide-invisible-blank {
  visibility: hidden;
}
.swiper-android .swiper-slide .swiper-css-mode > .swiper-wrapper,
.swiper-ios .swiper-slide .swiper-css-mode > .swiper-wrapper,
.swiper-wrapper .swiper-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
}
.swiper-android .swiper-slide .swiper-css-mode > .swiper-wrapper::-webkit-scrollbar,
.swiper-ios .swiper-slide .swiper-css-mode > .swiper-wrapper::-webkit-scrollbar,
.swiper-wrapper .swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}
.swiper-android .swiper-slide .swiper-css-mode > .swiper-wrapper > .swiper-slide,
.swiper-ios .swiper-slide .swiper-css-mode > .swiper-wrapper > .swiper-slide,
.swiper-wrapper .swiper-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}
.swiper-android .swiper-slide .swiper-css-mode.swiper-horizontal > .swiper-wrapper,
.swiper-ios .swiper-slide .swiper-css-mode.swiper-horizontal > .swiper-wrapper,
.swiper-wrapper .swiper-css-mode.swiper-horizontal > .swiper-wrapper {
  scroll-snap-type: x mandatory;
}
.swiper-android .swiper-slide .swiper-css-mode.swiper-vertical > .swiper-wrapper,
.swiper-ios .swiper-slide .swiper-css-mode.swiper-vertical > .swiper-wrapper,
.swiper-wrapper .swiper-css-mode.swiper-vertical > .swiper-wrapper {
  scroll-snap-type: y mandatory;
}
.swiper-android .swiper-slide .swiper-css-mode.swiper-free-mode > .swiper-wrapper,
.swiper-ios .swiper-slide .swiper-css-mode.swiper-free-mode > .swiper-wrapper,
.swiper-wrapper .swiper-css-mode.swiper-free-mode > .swiper-wrapper {
  scroll-snap-type: none;
}
.swiper-android .swiper-slide .swiper-css-mode.swiper-free-mode > .swiper-wrapper > .swiper-slide,
.swiper-ios .swiper-slide .swiper-css-mode.swiper-free-mode > .swiper-wrapper > .swiper-slide,
.swiper-wrapper .swiper-css-mode.swiper-free-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: none;
}
.swiper-android .swiper-slide .swiper-css-mode.swiper-centered > .swiper-wrapper::before,
.swiper-ios .swiper-slide .swiper-css-mode.swiper-centered > .swiper-wrapper::before,
.swiper-wrapper .swiper-css-mode.swiper-centered > .swiper-wrapper::before {
  content: "";
  flex-shrink: 0;
  order: 9999;
}
.swiper-android .swiper-slide .swiper-css-mode.swiper-centered > .swiper-wrapper > .swiper-slide,
.swiper-ios .swiper-slide .swiper-css-mode.swiper-centered > .swiper-wrapper > .swiper-slide,
.swiper-wrapper .swiper-css-mode.swiper-centered > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: center center;
  scroll-snap-stop: always;
}
.swiper-android .swiper-slide .swiper-css-mode.swiper-centered.swiper-horizontal > .swiper-wrapper > .swiper-slide:first-child,
.swiper-ios .swiper-slide .swiper-css-mode.swiper-centered.swiper-horizontal > .swiper-wrapper > .swiper-slide:first-child,
.swiper-wrapper .swiper-css-mode.swiper-centered.swiper-horizontal > .swiper-wrapper > .swiper-slide:first-child {
  margin-inline-start: var(--swiper-centered-offset-before);
}
.swiper-android .swiper-slide .swiper-css-mode.swiper-centered.swiper-horizontal > .swiper-wrapper::before,
.swiper-ios .swiper-slide .swiper-css-mode.swiper-centered.swiper-horizontal > .swiper-wrapper::before,
.swiper-wrapper .swiper-css-mode.swiper-centered.swiper-horizontal > .swiper-wrapper::before {
  height: 100%;
  min-height: 1px;
  width: var(--swiper-centered-offset-after);
}
.swiper-android .swiper-slide .swiper-css-mode.swiper-centered.swiper-vertical > .swiper-wrapper > .swiper-slide:first-child,
.swiper-ios .swiper-slide .swiper-css-mode.swiper-centered.swiper-vertical > .swiper-wrapper > .swiper-slide:first-child,
.swiper-wrapper .swiper-css-mode.swiper-centered.swiper-vertical > .swiper-wrapper > .swiper-slide:first-child {
  margin-block-start: var(--swiper-centered-offset-before);
}
.swiper-android .swiper-slide .swiper-css-mode.swiper-centered.swiper-vertical > .swiper-wrapper::before,
.swiper-ios .swiper-slide .swiper-css-mode.swiper-centered.swiper-vertical > .swiper-wrapper::before,
.swiper-wrapper .swiper-css-mode.swiper-centered.swiper-vertical > .swiper-wrapper::before {
  width: 100%;
  min-width: 1px;
  height: var(--swiper-centered-offset-after);
}
.swiper-android .swiper-slide .swiper-virtual .swiper-slide,
.swiper-ios .swiper-slide .swiper-virtual .swiper-slide,
.swiper-wrapper .swiper-virtual .swiper-slide {
  -webkit-backface-visibility: hidden;
  transform: translateZ(0);
}
.swiper-android .swiper-slide .swiper-virtual.swiper-css-mode .swiper-wrapper::after,
.swiper-ios .swiper-slide .swiper-virtual.swiper-css-mode .swiper-wrapper::after,
.swiper-wrapper .swiper-virtual.swiper-css-mode .swiper-wrapper::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}
.swiper-android .swiper-slide .swiper-virtual.swiper-css-mode.swiper-horizontal .swiper-wrapper::after,
.swiper-ios .swiper-slide .swiper-virtual.swiper-css-mode.swiper-horizontal .swiper-wrapper::after,
.swiper-wrapper .swiper-virtual.swiper-css-mode.swiper-horizontal .swiper-wrapper::after {
  height: 1px;
  width: var(--swiper-virtual-size);
}
.swiper-android .swiper-slide .swiper-virtual.swiper-css-mode.swiper-vertical .swiper-wrapper::after,
.swiper-ios .swiper-slide .swiper-virtual.swiper-css-mode.swiper-vertical .swiper-wrapper::after,
.swiper-wrapper .swiper-virtual.swiper-css-mode.swiper-vertical .swiper-wrapper::after {
  width: 1px;
  height: var(--swiper-virtual-size);
}
.swiper-android .swiper-slide .swiper .swiper-notification,
.swiper-ios .swiper-slide .swiper .swiper-notification,
.swiper-wrapper .swiper .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}
.swiper-android .swiper-slide .swiper-free-mode > .swiper-wrapper,
.swiper-ios .swiper-slide .swiper-free-mode > .swiper-wrapper,
.swiper-wrapper .swiper-free-mode > .swiper-wrapper {
  transition-timing-function: ease-out;
  margin: 0 auto;
}
.swiper-android .swiper-slide .swiper-grid > .swiper-wrapper,
.swiper-ios .swiper-slide .swiper-grid > .swiper-wrapper,
.swiper-wrapper .swiper-grid > .swiper-wrapper {
  flex-wrap: wrap;
}
.swiper-android .swiper-slide .swiper-grid-column > .swiper-wrapper,
.swiper-ios .swiper-slide .swiper-grid-column > .swiper-wrapper,
.swiper-wrapper .swiper-grid-column > .swiper-wrapper {
  flex-wrap: wrap;
  flex-direction: column;
}
.swiper-android .swiper-slide .swiper-fade.swiper-free-mode .swiper-slide,
.swiper-ios .swiper-slide .swiper-fade.swiper-free-mode .swiper-slide,
.swiper-wrapper .swiper-fade.swiper-free-mode .swiper-slide {
  transition-timing-function: ease-out;
}
.swiper-android .swiper-slide .swiper-fade .swiper-slide,
.swiper-ios .swiper-slide .swiper-fade .swiper-slide,
.swiper-wrapper .swiper-fade .swiper-slide {
  pointer-events: none;
  transition-property: opacity;
}
.swiper-android .swiper-slide .swiper-fade .swiper-slide .swiper-slide,
.swiper-ios .swiper-slide .swiper-fade .swiper-slide .swiper-slide,
.swiper-wrapper .swiper-fade .swiper-slide .swiper-slide {
  pointer-events: none;
}
.swiper-android .swiper-slide .swiper-fade .swiper-slide-active,
.swiper-ios .swiper-slide .swiper-fade .swiper-slide-active,
.swiper-wrapper .swiper-fade .swiper-slide-active {
  pointer-events: auto;
}
.swiper-android .swiper-slide .swiper-fade .swiper-slide-active .swiper-slide-active,
.swiper-ios .swiper-slide .swiper-fade .swiper-slide-active .swiper-slide-active,
.swiper-wrapper .swiper-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

.services-card {
  display: inline-flex;
  border: 1px solid rgb(234, 234, 234);
  border-radius: 6px;
  background: #ffffff;
  padding: 0 16px;
  width: 100%;
}
@media (min-width: 1119.98px) {
  .services-card:hover:not(.services-card--cost) {
    border: 1px solid rgb(207, 207, 207);
  }
  .services-card:hover:not(.services-card--cost) .services-card__button {
    background-color: #fddde6;
  }
}
.services-card__button {
  width: 40px;
  height: 40px;
  border: 2px #ff3e79 solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}
.services-card__button--device {
  align-self: flex-end;
}
.services-card__title {
  color: #1b1c21;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-align: left;
}
.services-card--brands {
  justify-content: space-between;
  align-items: center;
  height: 72px;
}
.services-card--device {
  padding: 16px;
  height: 160px;
  justify-content: space-between;
}
.services-card--cost {
  padding: 16px;
  height: 200px;
  display: grid;
  grid-template-columns: 1fr 119px;
  grid-template-areas: "theme theme" "price price" "term button";
  gap: 16px;
}
@media (min-width: 767.98px) {
  .services-card--cost {
    display: grid;
    grid-template-columns: 1fr 74px 81px 119px;
    padding: 0 16px;
    height: auto;
    gap: 0 22px;
    border: none;
    align-items: center;
    justify-content: left;
  }
}
@media (min-width: 1119.98px) {
  .services-card--cost {
    grid-template-columns: 3fr 1fr 1fr 119px;
  }
}
.services-card__theme, .services-card__price, .services-card__term {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}
.services-card__theme-title, .services-card__price-title, .services-card__term-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
  color: #7e7e82;
}
@media (min-width: 767.98px) {
  .services-card__theme-title, .services-card__price-title, .services-card__term-title {
    display: none;
  }
}
.services-card__theme-value, .services-card__price-value, .services-card__term-value {
  color: #1b1c21;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.2px;
  text-align: left;
}
.services-card__theme {
  grid-area: theme;
}
@media (min-width: 767.98px) {
  .services-card__theme {
    grid-column: 1/2;
    grid-row: 1/4;
  }
}
.services-card__price {
  grid-area: price;
}
@media (min-width: 767.98px) {
  .services-card__price {
    grid-column: 2/3;
    grid-row: 1/4;
  }
}
.services-card__term {
  grid-area: term;
}
@media (min-width: 767.98px) {
  .services-card__term {
    grid-column: 3/4;
    grid-row: 1/4;
  }
}

.services {
  display: flex;
  flex-direction: column;
  min-width: 0;
  gap: 0;
  background: #f8f8f8;
}
@media (min-width: 767.98px) {
  .services {
    margin-bottom: 30px;
  }
}
@media (min-width: 1119.98px) {
  .services {
    margin-bottom: 50px;
  }
}
.services__title {
  border-top: 1px solid #d9fff5;
  color: #7e7e82;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  text-align: left;
  padding: 16px 0px 16px 16px;
  min-height: 80px;
  margin: 0 -16px;
  background: linear-gradient(90deg, rgb(248, 248, 248) 0%, rgb(255, 255, 255) 100%);
}
@media (min-width: 767.98px) {
  .services__title {
    min-height: 56px;
    margin: 0 -24px;
  }
}
@media (min-width: 1119.98px) {
  .services__title {
    margin: 0 -32px;
    padding-left: 32px;
  }
}
.services-wrapper {
  max-width: 100vw;
  padding: 16px 0 24px 0;
  margin: 0 -16px;
}
@media (min-width: 767.98px) {
  .services-wrapper {
    margin: 0;
    padding: 16px 0 24px 0;
  }
}
@media (min-width: 1119.98px) {
  .services-wrapper {
    padding: 16px 0 24px 0;
  }
}
.services__send-button {
  align-self: flex-end;
  grid-area: button;
}
@media (min-width: 767.98px) {
  .services__send-button {
    grid-column: 4/5;
    grid-row: 1/4;
  }
}
.services__info {
  padding: 16px 16px 0 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 421px;
}
@media (min-width: 767.98px) {
  .services__info {
    padding: 16px 0 0 0;
  }
}
.services__info-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-align: left;
}
.services__info-link {
  color: #1b1c21;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-align: left;
  display: inline;
}
@media (min-width: 767.98px) {
  .services__info-link {
    display: flex;
    align-items: center;
    gap: 9px;
  }
}

.services-provided__cost-table-header {
  display: none;
  color: #7e7e82;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
}
@media (min-width: 767.98px) {
  .services-provided__cost-table-header {
    background-color: #f8f8f8;
    grid-column: 1/5;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr 74px 81px 119px;
    padding: 0 16px;
    height: auto;
    gap: 0 22px;
  }
}
@media (min-width: 1119.98px) {
  .services-provided__cost-table-header {
    display: grid;
    grid-column: 1/5;
    grid-template-columns: 3fr 1fr 1fr 119px;
    gap: 0 16px;
  }
}

.device-card {
  max-height: 170px;
}
.device-card__title {
  color: #1b1c21;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-align: left;
  align-self: flex-start;
}

.mobile-nav {
  grid-row: 1/3;
}
.mobile-nav__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.2s, z-index 0.2s;
}
.mobile-nav__overlay--open {
  opacity: 0.92;
  z-index: 100;
}
.mobile-nav__inner {
  z-index: 150;
  position: fixed;
  top: 0;
  left: -120%;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  padding: 0 16px 32px 16px;
  background-color: #ffffff;
  color: #1b1c21;
  box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2), -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
  display: flex;
  flex-direction: column;
  row-gap: 46px;
  transition: left 0.25s ease-in-out;
}
@media (min-width: 359.98px) {
  .mobile-nav__inner {
    padding: 5px 24px 32px 24px;
  }
}
@media (min-width: 767.98px) {
  .mobile-nav__inner {
    width: 320px;
    transition: left 0.45s ease-in-out;
  }
}
.mobile-nav__inner--open {
  top: 0;
  left: 0;
}
@media (min-width: 1439.98px) {
  .mobile-nav__inner {
    position: sticky;
    max-height: 100vh;
    left: 0;
    top: 0;
    box-shadow: none;
  }
}
.mobile-nav__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  height: 88px;
}
@media (min-width: 1439.98px) {
  .mobile-nav__header .action-button--cross {
    display: none;
  }
}
.mobile-nav__logo {
  height: 51px;
  margin-right: auto;
}
.mobile-nav__footer {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.mobile-nav__buttons {
  display: flex;
  justify-content: left;
  gap: 16px;
  margin-bottom: 4px;
}
.mobile-nav__langs {
  margin-top: 14px;
}
.mobile-nav__email {
  color: #1b1c21;
  font-size: 16px;
  font-weight: 500;
}
.mobile-nav__phone {
  color: #1b1c21;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.6px;
}
.mobile-nav__lang {
  color: #1b1c21;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
}
.mobile-nav__lang--active {
  color: #7e7e82;
}

.mobile-nav-menu {
  margin-bottom: auto;
}
.mobile-nav-menu__list {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.mobile-nav-menu__link {
  color: #1b1c21;
  position: relative;
  display: inline-flex;
  align-items: center;
  min-height: 32px;
  font-size: 16px;
  font-weight: 500;
  transition: transform 0.2 ease-out;
}
@media (min-width: 1119.98px) {
  .mobile-nav-menu__link:hover:not(.mobile-nav-menu__link--active) {
    color: #020116;
    transform: scale(1.05);
  }
}
.mobile-nav-menu__link--active {
  color: #7e7e82;
}
.mobile-nav-menu__link--active::before {
  position: absolute;
  left: -24px;
  width: 4px;
  height: 32px;
  border-radius: 0 50px 50px 0;
  background-color: #41f6d7;
  content: "";
}

.slider-nav {
  margin-left: -16px;
  margin-right: -16px;
}
.slider-nav__items {
  display: flex;
  overflow-x: scroll;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.slider-nav__link {
  display: inline-flex;
  align-items: center;
  height: 40px;
  padding: 8px 22px 8px 22px;
  flex-shrink: 0;
  color: #7e7e82;
  font-family: "TT Lakes", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-align: left;
  white-space: nowrap;
  border: 2px solid transparent;
}
.slider-nav__link:hover {
  border: 2px solid rgb(184, 255, 236);
  border-radius: 6px;
  background: rgb(255, 255, 255);
}

@media (min-width: 767.98px) {
  .slider-nav {
    margin-left: -24px;
    margin-right: -40px;
  }
  .slider-nav__items {
    padding-left: 24px;
  }
}
@media (min-width: 1119.98px) {
  .slider-nav {
    margin: 0;
  }
  .slider-nav__items {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    overflow-x: initial;
  }
  .slider-nav__link {
    padding: 8px 17px 8px 17px;
  }
}
.about-us {
  display: flex;
  flex-wrap: wrap;
  margin-left: -16px;
  margin-right: -16px;
  padding-top: 16px;
  margin-bottom: 24px;
}
.about-us__text {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  flex-shrink: 1;
  color: #1b1c21;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.2px;
  text-align: left;
}
.about-us__read-more {
  display: inline-flex;
  align-self: flex-start;
  color: inherit;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
}
.about-us__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .about-us {
    margin: 0;
    margin-bottom: 24px;
    padding-top: 24px;
    justify-content: space-between;
    flex-wrap: nowrap;
    -moz-column-gap: 48px;
         column-gap: 48px;
  }
  .about-us__text {
    padding: 0;
    flex-basis: 47.6%;
  }
  .about-us__img {
    border-radius: 5px;
    flex-basis: 52.4%;
    width: 50%;
    height: 50%;
  }
}
@media (min-width: 1119.98px) {
  .about-us {
    padding-top: 0;
    margin-bottom: 24px;
    -moz-column-gap: 36px;
         column-gap: 36px;
  }
  .about-us__text {
    flex-basis: 48%;
  }
  .about-us__img {
    flex-basis: 52%;
  }
}
.modal {
  z-index: 250;
  color: #1b1c21;
  background-color: #ffffff;
}
.modal::backdrop {
  background-color: rgba(255, 255, 255, 0.96);
}
.modal__button-close {
  position: fixed;
  z-index: 300;
  top: 24px;
  left: 16px;
  animation: opacity 1.5s ease-in-out;
}
@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (min-width: 767.98px) {
  .modal__button-close {
    left: initial;
    top: 32px;
    right: 470px;
    animation: openModalButton 0.45s ease-in-out forwards;
  }
}
@keyframes openModalButton {
  0% {
    transform: translateX(1100%);
  }
  100% {
    transform: translateX(0);
  }
}
.modal__button-close--active {
  opacity: 1;
}
.modal[open]::backdrop {
  z-index: 200;
  animation: openBackDrop 0.3s ease-in-out forwards;
}
.modal-close::backdrop {
  animation: openBackDrop 3s ease-in-out backwards;
  animation-direction: reverse;
}
@keyframes openModal {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes openBackDrop {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
    opacity: 0.96;
  }
}
.modal__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.modal__form-field {
  padding: 0 16px;
  border: 1px solid rgb(234, 234, 234);
  border-radius: 8px;
  background: #ffffff;
  height: 48px;
  width: 100%;
}
.modal__form-field::-moz-placeholder {
  color: #7e7e82;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2;
  font-weight: 500;
}
.modal__form-field::placeholder {
  color: #7e7e82;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2;
  font-weight: 500;
}
.modal__form-field--textarea {
  resize: none;
  height: initial;
}
.modal__form-info-link {
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(255, 62, 121);
}
.modal__inner {
  animation: openModal 0.45s ease-in-out forwards;
  z-index: 250;
  right: 0;
  top: 0;
  position: fixed;
  padding: 104px 16px 0 16px;
  display: flex;
  flex-direction: column;
  transition: width 0.36s;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  color: #1b1c21;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
@media (min-width: 767.98px) {
  .modal__inner {
    border-left: 1px solid #d9fff5;
    width: 440px;
    padding: 40px 32px 0 32px;
  }
}
.modal__send-button {
  align-self: flex-end;
}
.modal__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.6px;
}
.modal__title::before {
  position: absolute;
  left: 0;
  top: 99px;
  content: "";
  border-radius: 0 50px 50px 0;
  background-color: #41f6d7;
  height: 40px;
  width: 4px;
}
@media (min-width: 767.98px) {
  .modal__title::before {
    top: 35px;
  }
}

.modal-close-scroll {
  overflow: hidden;
}

/*# sourceMappingURL=main.3f75e775a6c056ca3ad8.css.map*/