@use '../base/vars.scss' as *;

.footer {
  display: flex;
  gap: 16px;
  color: $text-accent--color;
  background-color: $bg-accent--color;
  font-weight: 500;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-top: 1px solid rgb(217, 255, 245);
  margin-bottom: 21px;
  &__privacy-policy {
    color: $text-accent--color;
  }
  &__public-offer {
    display: inline-flex;
  }
  @media (min-width: 767.98px) {
    padding: 0 24px;
    flex-direction: row;
    justify-content: space-between;
    &__copyright {
      text-align: left;
      flex-basis: 33.3%;
    }
    &__privacy-policy {
      text-align: center;
      flex-basis: 33.3%;
    }
    &__public-offer {
      text-align: right;
      flex-basis: 33.3%;
    }
  }
  @media (min-width: 1440px) {
    padding: 0 32px;
    grid-column: 2;
  }
}
