@use '../../base/vars.scss' as *;

.action-button {
  width: 40px;
  height: 40px;
  background-color: $button-color;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: $transition-duration;
  transition-property: all;
  transition-timing-function: ease-in-out;

  @media (min-width: 1119.98px) {
    &:hover {
      background-color: $button-color--hover;
      transform: scale(1.1);
      .icon {
        fill: $button-color-icon--hover;
      }
    }
  }
}
