.button-show-more {
  display: none;
  align-self: flex-start;
  font-family: inherit;
  flex-shrink: 0;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.2px;
  text-align: left;
  text-wrap: nowrap;
  gap: 9px;
  align-items: center;
  justify-content: flex-start;

  @media (min-width: 767.98px) {
    display: inline-flex;
    .icon--arrows {
      transition: rotate 0.3s ease-in-out;
    }
  }
  &--active {
    .icon--arrows {
      transition: rotate 0.3s ease-in-out;
      rotate: 180deg;
    }
  }
}
