@use '../../base/vars.scss' as *;

.icon {
  display: inline-flex;
  flex-shrink: 0;
  flex-grow: 1;
  width: 16px;
  height: 16px;
  fill: $button-color--icon;
  transition-property: fill;
  transition-duration: $transition-duration;
  transition-timing-function: ease-in-out;
  &--logo {
    width: 97px;
    height: 51px;
  }
  &--search {
    width: 17px;
    height: 17px;
  }
  &--call {
    width: 18px;
    height: 18px;
  }
  &--chat {
    width: 20px;
    height: 20px;
  }
  &--profile {
    width: 20px;
    height: 18px;
  }
  &--burger {
    width: 18px;
    height: 16px;
  }
  &--check-status {
    width: 16px;
    height: 20px;
  }
  &--repair {
    width: 20px;
    height: 20px;
  }
  &--arrow {
    fill: $button-color;
    width: 7.5px;
    height: 12px;
  }
  &--send-arrow {
    fill: $bg-main--color;
    width: 7.5px;
    height: 12px;
  }
  &--send-arrow-cost {
    fill: $bg-main--color;
    width: 7px;
    height: 10px;
  }
  &--arrows {
    width: 24px;
    height: 24px;
  }
}
