@use '../../base/vars.scss' as *;

.services-card {
  display: inline-flex;
  border: 1px solid rgb(234, 234, 234);
  border-radius: 6px;
  background: $bg-main--color;
  padding: 0 16px;
  width: 100%;
  &__button {
    width: 40px;
    height: 40px;
    border: 2px #ff3e79 solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    &--device {
      align-self: flex-end;
    }
  }
  &__title {
    color: $text--color;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-align: left;
  }
  &--brands {
    justify-content: space-between;
    align-items: center;
    height: 72px;
  }
  &--device {
    padding: 16px;
    height: 160px;
    justify-content: space-between;
  }
  &--cost {
    padding: 16px;
    height: 200px;
  }
}
