$bg-main--color: #ffffff;
$bg-accent--color: #f8f8f8;

$font-family--base: 'TT Lakes', sans-serif;

$text--color: #1b1c21;
$text-accent--color: #7e7e82;

$button-color: #ff3e79;
$button-color--icon: #ffffff;
$button-color--hover: #fddde6;
$button-color-icon--hover: #cf3476;

$transition-duration: 0.2s;
